.bg {
  background-image: url("../../../public/assets/Background3-min.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px solid red;
}

.custom-rounded-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.max-lines {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

