.bg {
  background-image: url("../../../public/assets/Background3-min.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px solid red;
}

.custom-rounded-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.max-lines {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.centerImage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 85vh; /* Adjust this value based on your layout */
}

.logo {
  animation: rotate 5s infinite linear; /* Adjust duration and animation type */
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.timer {
  margin-top: 3rem;
  bottom: 10px; /* Adjust the distance from the bottom */
  font-size: 18px;
  color: #333; /* Desired color for the timer */
}
