/* styles/globals.css */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #cf0d0d; /* Sua cor de fundo desejada, por exemplo, preto (#000) */
  font-family: "Arial", sans-serif;
  line-height: 1.6;
}
