.bg {
  background-image: url("../../public/assets/images.jfif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.custom-rounded-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.max-lines {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
